<% provide(:title, 'About Us') %>
<h1>About DTG</h1>
  <h2>
      It's simple. Provide a platform for community voices to elevate local music.
  </h2>
 <div class="center hero-unit">
    <%= link_to image_tag("DTGflyer_cover.jpg", alt: "DIGTHEGIG"), 'http://www.digthegig.com/' %> 
</div>
