<% provide(:title, 'Contact') %>
<h1>Contact DTG</h1>
  <h2>
      Questions? Contact Marty at martydytrych@digthegig.com
  </h2>
 <div class="center hero-unit">
    <%= link_to image_tag("DTGflyer.jpg", alt: "DIGTHEGIG"), 'http://www.digthegig.com/' %> 
</div>
