
  
  <h1>Welcome to DTG</h1>

  <h2>
      Discover local Austin music. Be a voice for your favorite bands. Elevate music important to you.
  </h2>
  <div class="center hero-unit">
    <%= link_to image_tag("dtg_title.png", alt: "DIGTHEGIG"), 'http://www.digthegig.com/' %>
    <h2></h2>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
  </div>


