<aside class="span4">
    <br />
    <div class="tip">
      <%= link_to "TIP", '#', class: "btn btn-large btn-dtg" %>
    </div class="tip">
    <br />
    <div>
			<%= link_to "DTG", '#', class: "btn btn-large btn-fox" %>
     </div>
  </aside>