<% provide(:title, @venue.name) %>
<h1><%= @venue.name %></h1>
<div class="row">
 	<h2>No Gigs scheduled today at <%= @venue.name %>. Check out a different date or venue.</h2>
  <aside class="span4">
    <section>
    
    </section>
  </aside>
</div>
