<aside class="span4">
    <section>
      <h3>
        <%= @band.name.titleize %>
      </h3>
    </section>
    <section>
      <%= link_to "TIP", '#', class: "btn btn-large btn-dtg" %>
    </section>
    <br />
    <section>
			<%= link_to "DTG", '#', class: "btn btn-large btn-fox" %>
     </section>
  </aside>