<% provide(:title, @band.name.titleize) %>
<h1><%= @band.name.titleize %></h1>
<div class="row">
  <aside class="span4">
    <section>
      <h2>
        Some text here.
      </h2>
    </section>
  </aside>
</div>

