@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: yellow;
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 5px;
  padding-bottom: 5%;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* venues index */

.venues {
  list-style: none;
  margin-left: 20%;
  margin-right: 20%;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
  #vname {
    font-size: 2em;
    margin-left: 5%;
  }
  #vinfo {
    padding-top: 7px;
    margin-left: 5%;
  }
}

/* bands index */

.bands {
  list-style: none;
  margin-left: 20%;
  margin-right: 20%;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
  #bname {
    font-size: 1.6em;
    margin-left: 5%;
  }
  #binfo {
    padding-top: 7px;
    margin-left: 5%;
  }
}

/* posts */

.posts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* button */

.btn-fox {
  background-color: hsl(0, 69%, 22%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b42121", endColorstr="#5e1111");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b42121), to(#5e1111));
  background-image: -moz-linear-gradient(top, #b42121, #5e1111);
  background-image: -ms-linear-gradient(top, #b42121, #5e1111);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b42121), color-stop(100%, #5e1111));
  background-image: -webkit-linear-gradient(top, #b42121, #5e1111);
  background-image: -o-linear-gradient(top, #b42121, #5e1111);
  background-image: linear-gradient(#b42121, #5e1111);
  border-color: #5e1111 #5e1111 hsl(0, 69%, 17%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
  height:  20px;
  width:  50px;
  margin-left: 20px;
}



.btn-dtg {
  background-color: hsl(114, 50%, 30%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#40a035", endColorstr="#2d7226");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#40a035), to(#2d7226));
  background-image: -moz-linear-gradient(top, #40a035, #2d7226);
  background-image: -ms-linear-gradient(top, #40a035, #2d7226);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #40a035), color-stop(100%, #2d7226));
  background-image: -webkit-linear-gradient(top, #40a035, #2d7226);
  background-image: -o-linear-gradient(top, #40a035, #2d7226);
  background-image: linear-gradient(#40a035, #2d7226);
  border-color: #2d7226 #2d7226 hsl(114, 50%, 27%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.19);
  -webkit-font-smoothing: antialiased;
  height:  20px;
  width:  50px;
  margin-left: 20px;
}

.btn-warning {
  height:  20px;
  width:  50px;
  margin-left: 20px;
}


/* tab */

article.tabs
{
  position: relative;
  display: block;
  width: 99%;
  height: 15em;
  margin: 10px;
  margin-top: 80px;
}


article.tabs section:first-child
{
  z-index: 1;
}

article.tabs section h2
{
  position: absolute;
  font-size: 1.5em;
  font-weight: normal;
  width: 33.33%;
  height: 2em;
  top: -2.5em;
  left: 10px;
  padding-top: .5em;
  margin: 0;
  color: #999;
  border-radius: 5px 5px 0 0;
}
article.tabs section:nth-child(2) h2
{
  left: 33.33%;
}
article.tabs section:nth-child(3) h2
{
  left: 66.66%;
}
article.tabs section h2 a
{
  display: block;
  width: 100%;
  line-height: 1.8em;
  text-align: center;
  text-decoration: none;
  color: inherit;
  outline: 0 none;
}

article.tabs section:target,
article.tabs section:target h2
{
  color: blue;
  z-index: 2;
}

article.tabs section:target h2
{
  border: 1px solid silver;
  border-bottom: none;
}

article.tabs section,
article.tabs section h2
{
  color: silver;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}



