<footer class="footer">
  <small>
    <a href="http://www.digthegig.com/">digthegig.com</a> &copy; 2013. KidBlynk, LLC.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://twitter.com/DigthegigAtx">News</a></li>
    </ul>
  </nav>
</footer>